body {
	background-color: seagreen;
	background-image: url(images/pond4.jpg) ;
}
.frog {
	background-image: url("frogcar");
	background-color: green;
	border-width: 5px;
	border-color: black;
	height: 30px;
	width: 30px;
}
.winner {
	float:right;
}
.lane-name{
	width:100px;
	float:left;
}
.lane {
	background-color: lightgrey;
	float:left;
}
.finish {
	float: right;
}